@import "tailwindcss";

:root{
    --common-background : #ffffff;
    --common-background-two : #e6daca;
    --common-theme : #1E467C;
     --common-theme-light : #316cba;
    --common-theme-two : #FBB03A;
    --button-one : #3b060a;
    --button-two : #62383b;
}

/* 3b060a
62383b */